.container3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
}

.card {
  width: 200px;
  height: 200px;
  background-color: rgb(18, 99, 125);
  margin: 10px;
  text-align: center;
  border-radius: 20px;
}

.card-main {
  margin-top: 10px;
  border-radius: 10px;
  padding: 5px;
}

@media (max-width: 768px) {
  .card {
    width: 150px;
    height: 150px;
  }
}

.card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-container {
  display: flex;
  align-items: right;
  /* margin: 5px; */
}

.dropdown-label {
  margin-bottom: 5px;
  font-weight: bold;
}

.dropdown {
  width: 200px;
  padding: 5px;
  border: 1px solid #898989;
  border-radius: 4px;
  background-color: white;
  color: #333;
  font-size: 14px;
}

.dropdown option {
  background-color: #fff;
  color: #333;
  font-size: 14px;
}

.dropdown:focus {
  outline: none;
  border-color: #888;
}

@media (max-width: 480px) {
  .card {
    width: 100%;
    height: auto;
  }
  .btn-1{
    margin: 10px;
  }

  .dropdown-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .dropdown {
    width: 100%;
  }
}

.label {
  display: inline-block;
  font-family: 'Arial', sans-serif;
  font-size: 19px;
  color: #d8cece;
  margin-right: 20px;
  /* margin-top: 30%; */
}

.card-title{
  margin-top: 5px;
}
.labelData{
  margin-top: 20%;
}





