.input-container4 {
  position: relative;
}

#toggle-password {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

#password-input {
  padding-right: 30px; /* Ensure enough space for the eye icon */
}

.fa-eye {
  font-size: 16px;
}
.custom-icon{
  color: blue;
  }
  .info-link {
      position: absolute;
      top: 10px;
      right: 10px;
      display: flex;
      align-items: center;
    }
    .overlay {
      position: relative;
    }
    
    
    .btn-close {
      position: absolute;
      top: 30px;
      right: 0;
      width: 40px;
      height: 40px;
      
    }
    *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Poppins', sans-serif;
    }
    
    html{
      font-size: 62.5%;
    }
    
    table {
      margin: 5rem auto;
      border-radius: 2rem;
      border: 1rem hidden #443C68;
      border-collapse: collapse;
      box-shadow: 0 0 0 1px black;
      overflow: hidden;
      max-width: 40rem;
    }
    
    li, p, a, td{
      font-size: 1.6rem;
      line-height: 1.6;
    }
    
    thead {
      font-size: 1.8rem;
      background-color: #443C68;
      color: #fff;
    }
    
    th,
    td {
      border: 1px solid #4b3d88;
      width: 50rem;
      padding: 1.5rem;
      line-height: 1.7;
    }
    
    td {
      font-size: 1.4rem;
    }